<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's the Weather Like?</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="weather-app">
        <div class="shadowed black stuff-box">
            <h1>Vue.JS Weather App</h1>
        </div>

        <div class="red stuff-box" v-if="err !== undefined">
            <h2>Error</h2>
            <p>There was an error in the API:</p>
            <p>{{ err }}</p>
        </div>

        <div class="shadowed blue stuff-box">
            <h2>Your location</h2>
            <p v-if="lat === undefined">Please wait for the location API to respond...</p>
            <p v-else>You are located in {{city}}, {{region}}, {{country}} at coordinates ({{lat}}, {{lon}})</p>
        </div>

        <div class="shadowed yellow stuff-box">
            <h2>Current conditions</h2>
            <p v-if="currWeather === undefined">Please wait for the weather API to respond...</p>
            <div v-else>
                <p>Current weather conditions @ {{ getTime(currWeather) }}</p>
                <ul>
                    <li v-for="i of digestResponse(currWeather, true)">{{ i }}</li>
                </ul>
            </div>
        </div>

        <div class="shadowed cyan stuff-box">
            <h2>5 day 3-hour forecast</h2>
            <p v-if="forecasts[0] === undefined">Please wait for the weather API to respond...</p>
            <div v-else>
                <p><span class="red">{{ unlikely }} unlikely </span>&nbsp;<span class="green">{{ likely }} likely</span>&nbsp;<span class="black">{{ neutral }} neutral</span></p>
                <div v-for="(f, idx) of forecasts" class="stuff-box"
                     :class="{black: likelihoods[idx] === 'neutral', green: likelihoods[idx] === 'likely', red: likelihoods[idx] === 'unlikely'}"
                     :data-index="idx"
                     @click="toggle">
                    <p>Conditions for {{ getTime(f) }}</p>
                    <ul>
                        <li v-for="j of digestResponse(f, false)">{{ j }}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>